@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font: normal normal bold 22px / 40px Montserrat;
  color: #67737a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background: #f9f9f9;
    min-height: 100vh; /**/
    /*overflow-x: hidden; /*No mostrar el scroll en x*/
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /**/
}

.logo1 {
    font-size: 2em;
    color: #359381;
    pointer-events: none; /**/
}

.menu a {
    text-decoration: none; /**/
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600; /*Negritas*/
}

.menu a:hover,
.menu a.active {
    background: #359381;
    color: #fff;
}

.logo2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #333;
}