@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font: normal normal bold 22px / 40px Montserrat;
  color: #67737a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background: #f9f9f9;
    min-height: 50vh; /**/
    overflow-x: hidden; /*No mostrar el scroll en x*/
}

header {
    position: fixed; /* Cambia de absolute a fixed */
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* Asegura que el header esté encima de otros elementos */
    background: rgba(0, 0, 0, 0.2); /* Añade un fondo semitransparente para mejorar la visibilidad */
}

.logo1 {
    font-size: 2em;
    color: #fff;
    pointer-events: none; /**/
    text-shadow: 2px 2px 4px rgba(0,0,0,2)
}

.menu a {
    text-decoration: none; /**/
    color: #fff;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600; /*Negritas*/
    text-shadow: 2px 2px 4px rgba(0,0,0,2)
}

.menu a:hover,
.menu a.active {
    background: #e4007c;
    color: #fff;
}

.logo2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,2); /*Sombreado en el contorno*/
}


/*
Colors 
Rosa
#e41c6c
Rosa Mexicano
#e4007c
Verde
#359381
*/

/*
Color hex a rgb
https://www.color-hex.com/color/359381
Get color from an image
https://pinetools.com/es/obtener-colores-imagen

Manual de Identidad de Colores GOB Mex
https://www.gob.mx/wikiguias/articulos/manual-de-identidad-grafica-2018-2024
https://www.behance.net/gallery/88588219/Manual-de-Identidad-del-Gobierno-de-Mxico-2018-2024
*/